
* {
    font-family: 'Solitreo', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    display: flex;
    background-color:rgb(71, 71, 103);
}

.encabezado h1{
    font-size: 30px;
}

.foto {
    display: flex;
    width: 19%;
    justify-content: center;  
    margin-top: 20px;
}

.nomYlinks{
    display: flex;
    width: 81%;
    flex-direction: column;
    text-align: center;  
    background-color: white; 
    color: rgb(85, 85, 167);
}

.nombre {
    font-weight: 300;  
    padding-top: 20px;         
}   

.nombre h2{
    font-style:italic;
    font-size: small;  
}

.links{
    display: flex;   
    justify-content: center;
    padding-top: 30px;       
}

.links a{
    text-decoration: none;
    font-size: small;
    padding: 10px; 
    color: rgb(85, 85, 167);          
}

.cuerpo {
    display: flex;
    width: auto;       
}

.columna {
    width: 19%;
    background-color:rgb(71, 71, 103);
}

.datos {
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    padding: 70px 18px 20px 18px;  
    color: white;  
}

.redes_sociales {
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    justify-content: center;    
    margin: 40px 8px 30px 8px;    
}

.redes_sociales a{
    color: rgb(85, 85, 167);
    text-decoration: none;
    padding: 10px;
}

.referencias {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    margin: 5px 8px 5px 8px;
}

#boton {
    color: rgb(85, 85, 167);
    background-color: white;
    border: none;
    cursor: pointer;
}

#vacio {
    padding: 30px 10px 20px 15px;
    color: white;    
    font-size: small;
}    
  
.principal{
    display: flex;
    font-size: small;
    padding: 70px 70px 70px 70px;
    flex-direction: column;
    width: 81%;     
}

.principal h3{
    cursor: zoom-in;
    color: rgb(85, 85, 167);
}

.principal hr{
    border-color: rgb(85, 85, 167);
}
